@import "./components/Bookmarks.css";
@import "./components/Header.css";
@import "./components/Introduction.css";
@import "./components/MenuSection.css";
@import "./components/Welcome.css";
@import "./components/AboutMe.css";
@import "./components/Projects.css";
@import "./components/Contact.css";
@import "./components/Footer.css";

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
	background-color: #d3d3d3;
	font-family: "system";
	margin: 0;
	width: 100%;
	min-width: 500px;
	display: flex;
	flex-direction: column;
}