.ContactContent {
	margin-bottom: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.ContactContent__contact {
	height: 50px;
	width: 248px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.ContactContent__contact img {
	height: 50px;
	width: 50px;
	object-fit: contain;
}

.ContactContent__contact p {
	height: 50px;
	width: 200px;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.ContactContent__contact button {
	height: 20px;
	width: 150px;
}