.Header {
	background-color: #4df1ff;
	/* flexbox properties */
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.Header .Header__menuItem {
	font-size: 20px;
	font-weight: bolder;
	padding-left: 7%; 
	padding-right: 7%;
}

@media (min-width: 900px) {
	.Header .Header__menuItem {
		padding-left: 10%;
		padding-right: 10%;
	}
}