.MenuSection {
	display: flex;
	flex-direction: column;
}

.MenuSection__titleText {
	background-color: #4df1ff;
	font-size: 20px;
	font-weight: bolder;
	padding: 10px;
}

.MenuSection__infoText {
	font-size: 16px;
	padding-left: 24px;
	padding-right: 24px;
}

.MenuSection--containerPictureText {
	padding-top: 24px;
	padding-bottom: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.MenuSection--containerPictureText img {
	height: 50%;
	width: 50%;
}

.MenuSection--containerProjects {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.MenuSection--containerPictureTextVertical {
	margin-top: 10px;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.MenuSection--containerPictureTextVertical img {
	height: 250px;
	width: 250px;
	object-fit: contain;
}

.MenuSection--containerPictureTextVertical p {
	margin-top: 0;
}

.MenuSection--containerContact {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px
}

.MenuSection--containerIconText {
	height: 50px;
	width: 248px;
	margin-top: 10px;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.MenuSection--containerIconText img {
	height: 50px;
	width: 50px;
	object-fit: contain;
}

.MenuSection--containerIconText .MenuSection__infoText p {
	font-weight: bolder;
	height: 50px;
	width: 200px;
	padding-left: 0;
	align-items: center;
}

@media (min-width: 700px) {
	.MenuSection--containerPictureText {
		padding-left: 24px;
		align-items: flex-start;
		flex-direction: row;
	}

	.MenuSection--containerPictureText img {
		max-height: 240px;
		max-width: 320px;
	}

	.MenuSection--containerPictureText .MenuSection__infoText {
		margin-top: 0;
	}
}