.Project {
	display: none;
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 10px;
	/*border: 1px solid;*/
}

.Project-selected {
	display: flex;
}

.Project__face {
	display: none;
}

.Project__face-selected {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.Project__face-selected:hover {
	cursor: pointer;
}

.Project__face-selected img {
	height: 250px;
	width: 250px;
	object-fit: contain;
}

.Project__title {
	background-color: black;
	padding: 4px;
	color: white;
}

.Project__back {
	display: none;
}

.Project__back-selected {
	height: 308px;
	width: 250px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}

.Project__back-selected p {
	text-align: center;
}

.Project__back-selected img {
	height: 50px;
	width: 50px;
	object-fit: contain;
}

@media (min-width: 563px) {
	.Project {
		border-bottom: 0;
		margin-top: 10px;
		margin-left: 40px;
		margin-right: 40px;
	}
}